<h2>All Recipes</h2>

<% @recipes.each do |recipe| %>
  <div class="row">
    <ul>
      <li>
        <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>
        <a href="/recipes/<%= recipe.id %>/edit">Edit</a>

        <form method="post" action="/recipes/<%= recipe.id %>/delete">
          <input class="btn btn-default" type="submit" value="Delete Recipe">
        </form>
      </li>
    </ul>
  </div>
<% end %>

<a href="/recipes/new">Add New Recipe</a>