<h2>New Recipe</h2>

<form class="form" method="post" action="/recipes">
  <div class="form-group">
    <label for="recipe[title]">Title:</label>
    <input class="form-control" type="text" id="recipe_title" name="recipe[title]">
  </div>

  <div class="form-group">
    <label for="recipe[description]">Description:</label>
    <input class="form-control" type="text" id="recipe_description" name="recipe[description]">
  </div>

  <div class="form-group">
    <label for="recipe[servings]">Servings: </label>
    <input class="form-control" type="text" id="recipe_servings" name="recipe[servings]">
  </div>

  <div class="form-group">
    <label for="recipe[course]">Course:</label>
    <select class="form-control"  name="recipe[course]">
      <option><%= Course.first.title %></option>
      <option><%= Course.second.title %></option>
      <option><%= Course.third.title %></option>
    </select>
  </div>

  <div class="form-group">
    <label for="recipe[ingredient]">Ingredients: </label>
    <input class="form-control" type="text" id="recipe_ingredients" name="recipe[ingredients]">
  </div>

  <button class="btn btn-primary" type="submit">Add Recipe</button>
</form>