<h2>New Course</h2>

<form class="form" method="post" action="/courses">
  <div class="form-group">
    <label for="course[title]">Title:</label>
    <input class="form-control" type="text" id="course_title" name="course[title]">
  </div>

  <button class="btn btn-primary" type="submit">Add Course</button>
</form>